-- 1. Create the session_templates table
CREATE TABLE IF NOT EXISTS public.session_templates (
    id UUID DEFAULT gen_random_uuid() PRIMARY KEY,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT timezone('utc'::text, now()) NOT NULL,
    user_id UUID REFERENCES auth.users(id) ON DELETE CASCADE NOT NULL,
    name TEXT NOT NULL,
    goal TEXT,
    tasks JSONB,
    youtube_url TEXT,
    theme TEXT
);

-- 2. Enable Row Level Security (RLS) on the table
ALTER TABLE public.session_templates ENABLE ROW LEVEL SECURITY;

-- 3. Create policies so users can only access and manage their OWN templates
CREATE POLICY "Users can view their own templates" 
    ON public.session_templates FOR SELECT 
    USING (auth.uid() = user_id);

CREATE POLICY "Users can insert their own templates" 
    ON public.session_templates FOR INSERT 
    WITH CHECK (auth.uid() = user_id);

CREATE POLICY "Users can update their own templates" 
    ON public.session_templates FOR UPDATE 
    USING (auth.uid() = user_id);

CREATE POLICY "Users can delete their own templates" 
    ON public.session_templates FOR DELETE 
    USING (auth.uid() = user_id);
